NLPA/Main.aux
NLPA/Main.log
NLPA/Main.synctex.gz
NLPA/Ch01.aux
NLP-J/Main.synctex.gz
NLP-J/Main.log
NLP-J/Main.aux
NLP-J/Ch01.aux
NLPP/Main.synctex.gz
NLPP/Main.log
NLPP/Main.aux
NLPP/indent.log
NLPP/Ch01.aux
NLPP/Main.out
.vscode/settings.json
NLPP/Ch02.aux
*.aux
*.log
*.out
*.toc
*.synctex.gz
NLPP/Codes/__pycache__/Ch02.cpython-310.pyc
*.pyc
_minted-Main
NLPP/Codes/data/yelp/raw_test.csv
NLPP/Codes/data/yelp/raw_train.csv
*.pth